<%- include("partials/header")%>

<h1>login!</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login!">
</form>

<%- include("partials/footer")%>
